body{

background:#101522;

color:white;

}

.card{

background:#1d2738;

border:none;

margin-bottom:20px;

}

.card h2{

color:#00d4ff;

}

.navbar{

margin-bottom:30px;

}